* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
button{
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
}
body{
  padding: 10vh 0 0 0;
}
h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
}
input, button,body {
  background: #f6f9fc;
  font-family: "Mukta", sans-serif;
}
header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #16222d;
  position: fixed;
  top: 0;
  z-index: 500;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
}
header img {
  height: 10vh;
}
nav {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.1px solid rgba(160, 160, 160, 0.2);
}
.logo img {
  height: 110px;
}
.menu {
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  padding: 0.5em;
  background: #16222d;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
  color: #555;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
}
.menu li a:hover {
  color: #555;
  background: #fff;
  transition: 0.3s;
}
.container {
  width: 100%;
  height: auto;
  padding: 1em;
}
.title {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title h1 {
  color: #555;
  font-size: 25px;
}
.content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.col-1 {
  width: 300px;
  height: auto;
  margin: 0.5em;
}
.col-2 {
  width: 300px;
  height: auto;
  margin: 0.5em;
}
.total,
.recover {
  width: 100%;
  height: 20vh;
  background: #fff;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
  margin: 1em 0;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.death, .pop {
  width: 100%;
  height: 20vh;
  background: #fff;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1em 0;
}
.total-img,
.recover-img,
.death-img, .pop-img {
  width: 35px;
  height: 35px;
  background: #16222d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border-radius: 50%;
}
.total-img img,
.recover-img img,
.death-img img, .pop-img img{
  height: 25px;
}
.recover p , .pop p{
  color: #8aca2b;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
}
.total p,
.death p {
  color: #f94348;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
.total h1,
.recover h1,
.death h1, .pop h1{
  font-size: 20px;
  color: #555;
}
.timer{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #16222d;
  border-bottom: 0.1px solid rgba(160, 160, 160, 0.2);
}
.timer p{
  margin-left: 5px;
  font-size: 18px;
}
.timer img{
  height: 40px;
}
.title-country{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}
.title-country h1{
  font-size: 20px;
}
.container-countries{
  width: 100%;
  height: auto;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.country-infos{
  width: 250px;
  height: auto;
  background: #fff;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
  border-radius: 5px;
  padding: 0.5em;
}
.country-infos{
  margin: 1em;

}
.search{
  margin: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search-area{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search p{
  padding: 0 0 0.5em 0;
}
.search img{
  height: 25px;
}
.search input{
  width: 200px;
  height: 40px;
  background: #fff;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 1em;
  border-radius: 5px;
}
.search button{
  background: #16222d;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
}
.country-infos img{
  width: 100%;
}
.container-countries{
  margin: 0;
}
#rotate{
  transition: 0.3s;
}
.rotate-search{
  transform: rotate(180deg);
  transition: 0.3s;
}
.country-infos img{
  border-radius: 3px;
}
.line{
  width: 100%;
  height: 0.1px;
  background: rgba(160,160,160,0.2);
  margin: 0.1em 0;
}
.img-world{
  width: 100%;
  height: 150px;
}
.country-covid{
  width: 100%;
  height: auto;
  padding:1em 0.3em 0.3em 0.3em;
}
.country-covid h3{
  color: #555;
}
.country-covid p{
  font-size: 17px;
  color: #555;
}
.err{
  padding: 0.5em 0;
  color: #f94348;
  display: none;
}
footer{
  width: 100%;
  height: auto;
  padding: 2em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:#16222d;
}
footer p{
  font-size: 18px;
  color: #fff;
}
.name-country{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.name-all{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 40px;
  cursor: pointer;
}
.names{
  width: 160px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
}
.grid{
  width: 40px;
  height: 40px;
  background: #16222d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
}
.grid img{
  height: 25px;
}
.list-country{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #f6f9fc;
  z-index: 1000;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: 0.4s;
  padding: 1em;
}
.close{
  width: 40px;
  height: 40px;
  background: #16222d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}
.close img{
  height: 30px;
}
.show-lists{
  transform: translateX(0%);
  transition: 0.3s;
}
.stuck-on-sroll{
  overflow: hidden;
}
.display{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title-all{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.title-all h1{
  font-size: 20px;
  color: #555;
  text-transform: uppercase;
}
.title-all p{
  color: #8aca2b;
  font-size: 15px;
}
.name-search p{
  font-size: 17px;
}
.top a{
  text-decoration: none;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #0296cc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}
.top{
  position: sticky;
  top: 1em;
  margin: 1em;
}
.top a{
  text-decoration: none;
  color: #fff;
}
.name-search{
  width: 300px;
  height: auto;
  padding: 2em;
  background: #fff;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
  margin: 0 0 1em 0;
}
.display{
  padding: 1em 0;
}
.names:hover{
  background: #16222d;
  color: #fff;
  transition: 0.3s;
}
.names{
  transition: 0.3s;
}
.name-search{
  border-radius: 5px;
}
.keyword{
  position: fixed;
  top: 12vh;
  right: 1em;
}
.check img{
  height: 30px;
}
.name-search{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  text-align: center;
}
.list-country{
  padding: 0;
}
@media (max-width: 550px) {
  nav{
    flex-direction: column;
    height: auto;
    padding: 1em;
    border-bottom:0;
  }
}
@media (max-width: 600px) {
  nav {
    justify-content: space-between;
    padding: 0 1em 0 0;
  }
  .content {
    flex-direction: column;
  }
  .col-1,
  .col-2 {
    margin: 0;
  }
  .title h1{
    font-size: 20px;
  }
  .total p, .recover p, .death p{
    letter-spacing: 0;
  }
  .death{
    margin: 0;
  }
  .social{
    border-bottom: 0.1px solid rgba(160, 160, 160, 0.2);
  }
}
@media (max-width: 700px) {
  .container-countries{
    flex-direction: column-reverse;
    padding: 2em 1em;
  }
}